<!DOCTYPE html>
<html>
<head>
    <title>Memo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/style.css">

    <style>
        body {
            text-align: center;
        }

        .image-item img {
            width: auto;
            height: 400px;
            max-width: 100%;
        }
    </style>
    <script>
        window.onload = function() {
            var logo = document.querySelector('.navbar-brand');
            logo.addEventListener('click', function() {
                window.location.href = 'page';
            });
        };
    </script>
</head>
<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../static/images/949ea004-f044-4549-803f-84bcee94c27b-removebg-preview.png" width="200" height="100" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </section>
    <section id="banner" style="height: 875px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="height:0px;font-size: 0px; color: burlywood;">Image Classification</h2>
                    <h3 style="height:30px; font-size: 35px;">Your diagnose is : </h3>
                    <h3 style="font-size: 35px; color:burlywood ;">{{ predicted_class }}</h3> 
                    <p style="font-size: 18px;">Need more info about Alzheimer's stages? <a href="page2" style="color: crimson;">click here</a></p>
                    <div class="image-container">
                        {% if image_path %}
                            <div class="image-item" style="height: 300px;">
                                <h4 style="height: 30px; font-size: 30px;">Your Brain MRI image </h4>
                                <img src="{{ url_for('static', filename=image_path) }}" width="100" height="150" alt="Uploaded Image" style="
                                height: 200px;">
                            </div>
                        {% else %}
                            <p>No original image available.</p>
                        {% endif %}
                        {% if shap_plot_path %}
                            <div class="image-item" style="height: 70px;">
                                <h4 style="height: 40px;font-size: 30px;
                                font-size: 30px;">Shap analysis</h4>
                                <img src="{{ url_for('static', filename=shap_plot_path) }}" alt="SHAP Plot">
                            </div>
                        {% else %}
                            <p>No SHAP plot available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
