<!DOCTYPE html>
<html>

<head>
    <title>Machine Learning Classification</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/start.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <style>
        .input-container {
            position: relative;
        }

        .input-container select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 13px;
        }

        .btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .result {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
    <script>
        window.onload = function() {
            var logo = document.querySelector('.navbar-brand');
            logo.addEventListener('click', function() {
                window.location.href = 'page';
            });
        };
    </script>
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../static/images/949ea004-f044-4549-803f-84bcee94c27b-removebg-preview.png" width="200" height="100" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="container">
            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                    <h2>Data</h2>
                    <form method="POST" action="/machine">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Your gender</label>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="1">
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="female" value="0">
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <label class="range-label">Years of Education (EDUC):</label>
                            <select name="educ" class="form-control" required>
                                <option value="" selected disabled>Select an option</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label class="range-label">Socioeconomic Status (SES):</label>
                            <select name="ses" class="form-control" required>
                                <option value="" selected disabled>Select an option</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label class="range-label">Mini Mental State Examination (MMSE):</label>
                            <select name="mmse" class="form-control" required>
                                <option style="font-size: 10px;" value="" selected disabled>Select an option</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label class="range-label">Clinical Dementia Rating (CDR):</label>
                            <select name="cdr" class="form-control" required>
                                <option value="" selected disabled>Select an option</option>
                                <option value="0">0</option>
                                <option value="0.25">0.25</option>
                                <option value="0.5">0.5</option>
                                <option value="0.75">0.75</option>
                                <option value="1">1</option>
                                <option value="1.25">1.25</option>
                                <option value="1.5">1.5</option>
                                <option value="1.75">1.75</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <input type="text" class="field" name="age" placeholder="Age" required>
                        <input type="text" class="field" name="etiv" placeholder="Estimated total intracranial volume (eTIV)" required>
                        <input type="text" class="field" name="nwbv" placeholder="Normalize Whole Brain Volume (nWBV)" required>
                        <input type="text" class="field" name="asf" placeholder="Atlas Scaling Factor (ASF)" required>
                        <button class="btn" type="submit">Predict</button>
                    </form>
                </div>
                {% if prediction %}
                <div class="result">
                    <h3>Prediction Result:</h3>
                    <h4>{{ prediction }}</h4>
                    <p style="font-size: 18px;">Need more info about Alzheimer's stages? <a href="page2" style="color: crimson;">click here</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>

</html>