<html>
    <header>
        <title>Memo</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <title>Center align button</title>
        <style>
            body {
                text-align: center;
            }
            button {
 background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 1rem;
 width: 10em;
 border-radius: 1rem;
 color: lightcoral;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
}

button:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
 transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
 background: lightcoral;
 color: white;
 text-shadow: 0 0.1rem #bcb4b4;
}

button:disabled {
 cursor: auto;
 color: grey;
}
        
        </style>
    </header>
    
    <body>
        <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../static/images/949ea004-f044-4549-803f-84bcee94c27b-removebg-preview.png" width="200" height="100" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#top">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">ABOUT DISEASE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about-us">SERVICES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#footer">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </section>
        <!------banner section-->
        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="promo-title">THEY MAY NOT BE ABLE REMEMBER WHO WE ARE ... BUT THEY FEEL US JUST THE SAME</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../static/images/istockphoto-1370116593-612x612-removebg-preview.png" class="img-fluid">
                    </div>
                </div>
                <div>
                    <button class="button" onclick="window.location.href='deep'">Upload Image</button>
                    <button class="button" onclick="window.location.href='machine'">Enter Data</button>
                    <button class="button" onclick="randomTestMemory()">Test Your Memory</button>
                </div>
            </div>
        </section>

        <!----------service----------->
        <section id="services">
            <div class="container text-center">
                <h1 class="title">ABOUT ZAHAIMAR</h1>
                <div class="row text-center">
                    <div class="col-md-4 services">
                        <img src="../static/images/six-million-americans-living-with-alzheimers-facts-and-figures-icon-removebg-preview.png" class="service-img">
                        <p>More than <b>6 million</b> Americans are living with Alzheimer's. By 2050, this number is projected to rise to nearly 13 million.</p>
                    </div>
                    <div class="col-md-4 services">
                        <img src="../static/images/one-in-three-seniors-facts-and-figures-icon-removebg-preview.png" class="service-img">
                        <p><b>1 in 3</b> seniors dies with Alzheimer's or another dementia. It kills more than breast cancer and prostate cancer combined.</p>
                    </div>
                    <div class="col-md-4 services">
                        <img src="../static/images/345-billion-facts-and-figures-icon-removebg-preview.png" class="service-img">
                        <p>In 2023, Alzheimer’s and other dementias will cost the nation <b>$345 billion</b>. By 2050, these costs could rise to nearly $1 trillion.</p>
                    </div>
                    <div class="col-md-4 services">
                        <img src="../static/images/18-billion-hours-facts-and-figures-icon-removebg-preview (1).png" class="service-img">
                        <p>In 2022, unpaid caregivers provided an estimated <b>18 billion</b> hours of care valued at $339.5 billion.</p>
                    </div>
                    <div class="col-md-4 services">
                        <img src="../static/images/1-in-5-women-1-in-10-men-facts-and-figures-icon-removebg-preview.png" class="service-img">
                        <p>The lifetime risk for Alzheimer’s at age 45 is <b>1 in 5</b> for women and <b>1 in 10</b> for men.</p>
                    </div>
                    <div class="col-md-4 services">
                        <img src="../static/images/direct-care-workers-facts-and-figures-icon-removebg-preview.png" class="service-img">
                        <p>Between 2020 and 2030, <b>1.2 million</b> additional direct care workers will be needed to care for the growing population of people living with dementia.</p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary">
                    <a href="page2" target="_blank">MORE INFO</a>
                </button>
                <script src="index.js"></script>
            </div>
        </section>
        <!----------about us------------>
        <section id="about-us">
            <div class="container">
                <h1 class="title text-center">WHY CHOOSE US?</h1>
                <div class="row">
                    <div class="col-md-6 col-sm-3 abot-us">
                        <p class="about-title">Why we are different</p>
                        <ul>
                            <li>any word</li>
                            <li>any word</li>
                            <li>any word</li>
                            <li>any word</li>
                            <li>any word</li>
                            <li>any word</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-3">
                        <img src="../static/images/network.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <!----------social----->
        <section id="social-media">
            <div class="container text-center">
                <p>FIND US ON SOCIAL MEDIA</p>
                <div class="social-icon">
                    <a href="#"><img src="../static/images/facebook-icon.png"></a>
                    <a href="#"><img src="../static/images/instagram-icon.png"></a>
                    <a href="#"><img src="../static/images/linkedin-icon.png"></a>
                    <a href="#"><img src="../static/images/whatsapp-icon.png"></a>
                    <a href="#"><img src="../static/images/twitter-icon.png"></a>
                    <a href="#"><img src="../static/images/snapchat-icon.png"></a>
                </div>
            </div>
        </section>
        <!----------footer----->
        <section id="footer">
            <img src="./Digital_agency_site_Img/images/wave2.png" class="footer-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-box">
                        <p><b>CONTACT US</b></p>
                        <p>POSITION</p>
                        <p>NUMBER 010223456</p>
                        <p>EMAIL</p>
                    </div>
                    <div class="col-md-4 footer-box">
                        <p><b>FOLLOW US</b></p>
                        <input type="email" class="form-control" placeholder="Your Email">
                        <button type="button" class="btn btn-primary">FOLLOW</button>
                    </div>
                </div>
            </div>
        </section>
        <!--------smooth scroll---------->
        <script src="smooth-scroll.js"></script>
        <script>
            var scroll = new SmoothScroll('a[href*="#"]');
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
        <script>
            function randomTestMemory() {
              // Define an array with the possible page URLs
              var pages = ["index", "index_2"];
          
              // Generate a random index
              var randomIndex = Math.floor(Math.random() * pages.length);
          
              // Get the random page URL
              var randomPage = pages[randomIndex];
          
              // Redirect to the random page
              window.location.href = randomPage;
            }
          </script>
    </body>
</html>
