<html>
<header>
    <title>Memo </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <title>Center align button</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</header>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img
                        src="../static/images/949ea004-f044-4549-803f-84bcee94c27b-removebg-preview.png"
                        width="200" height="100" " alt="" ></a>
                <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>

                    <span class="navbar-toggler-icon"></span>


                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#top">Signs and symptoms</a>
</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#services">Stages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about-us">causes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#footer">How to diagnose</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#footer">How to treat it</a>
                            </li>
                            
                        </ul>
                    </div>
            </div>
        </nav>
    </section>
    <!------banner section-->
    <section id="banner">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <p class="promo-title"> How does Alzheimer's disease affect the brain? </p>


                </div>
                <div class="col-md-6 text-center">
                    <img src="../static/images/brain_slices_alzheimers_0-removebg-preview.png"
                        class="img-fluid">
                </div>

           
        </div>
        </div>

    </section>
    <!----------service----------->
    <section id="services">
        <div class="container ">
            <h1 class="title text-center">Signs and symptoms of Alzheimer's disease</h1>

                <div class="text-left">
                 
                    <p>
                    Memory problems are typically one of the first signs of cognitive impairment related to Alzheimer’s. Some people with
                    memory problems have a condition called mild cognitive impairment (MCI). With MCI, people have more memory problems than
                    normal for their age, but their symptoms do not interfere with their everyday lives. Movement difficulties and problems
                    with the sense of smell have also been linked to MCI. Older people with MCI are at greater risk for developing
                    Alzheimer’s, but not all of them do so. Some may even revert to normal cognition.</p>
                    <p>
                    The first symptoms of Alzheimer’s vary from person to person. For many, decline in nonmemory aspects of cognition, such
                    as word finding, vision/spatial issues, and impaired reasoning or judgment may signal the very early stages of the
                    disease. Researchers are studying biomarkers (biological signs of disease found in brain images, cerebrospinal fluid,
                    and blood) to detect early changes in the brains of people with MCI and in cognitively normal people who may be at
                    greater risk for Alzheimer’s. More research is needed before these techniques can be used broadly and routinely to
                    diagnose Alzheimer’s in a health care provider’s office. </p>
                </div>
        </div>

    </section>
    <!----------about us------------>
    <section id="about-us">
        <div  class="container text-center">
            <h1 class="title text-center"> Stages of Alzheimer's disease</h1>
            <div >
                <div  class="text-left">
                    <p class="about-title text-left"> Mild Alzheimer’s disease </p>
                   
                    As Alzheimer’s worsens, people experience greater memory loss and other cognitive difficulties. Problems can include
                    wandering and getting lost, trouble handling money and paying bills, repeating questions, taking longer to complete
                    normal daily tasks, and personality and behavior changes. People are often diagnosed in this stage.
                    <p class="about-title text-left "> Moderate Alzheimer’s disease </p>

                
                    In this stage, damage occurs in areas of the brain that control language, reasoning, conscious thought, and sensory
                    processing, such as the ability to correctly detect sounds and smells. Memory loss and confusion grow worse, and people
                    begin to have problems recognizing family and friends. They may be unable to learn new things, carry out multistep tasks
                    such as getting dressed, or cope with new situations. In addition, people at this stage may have hallucinations,
                    delusions, and paranoia and may behave impulsively.

                   <p class="about-title text-left "> Severe Alzheimer’s disease </p>
                    
                    Ultimately, plaques and tangles spread throughout the brain, and brain tissue shrinks significantly. People with severe
                    Alzheimer’s cannot communicate and are completely dependent on others for their care. Near the end of life, the person
                    may be in bed most or all of the time as the body shuts down.
                  
                </div>
        
            </div>
        </div>
        <section id="services">
            <div class="container ">
                <h1 class="title text-center"  > causes of Alzheimer's disease</h1>
        
                <div class="text-left">
        
                    <p>
                        In recent years, scientists have made tremendous progress in better understanding Alzheimer’s and the momentum continues to grow. Still, scientists don’t yet fully understand what causes Alzheimer’s disease in most people. The causes probably include a combination of age-related changes in the brain, along with genetic, environmental, and lifestyle factors. The importance of any one of these factors in increasing or decreasing the risk of developing Alzheimer’s may differ from person to person.</p>
                </div>
            </div>
        
        </section>
        <section id="services">
            <div class="container ">
                <h1 class="title text-center">How to diagnose</h1>
        
                <div class="text-left">
        
                    <p>
                        Doctors use several methods and tools to help determine whether a person who is having memory problems has Alzheimer’s.</p>
                        
                       <p >To diagnose Alzheimer’s, doctors may: </p>
                        <p>1-Ask the person and a family member or friend questions about overall health, use of prescription and over-the-counter
                        medicines, diet, past medical problems, ability to carry out daily activities, and changes in behavior and personality.</p>
                        <p>2- tests of memory, problem solving, attention, counting, and language.</p>
                        <p>3- blood, urine, and other standard medical tests to help identify other possible causes of the problem.</p>
                       <p> 4-Administer tests to determine if depression or another mental health condition is causing or contributing to a person’s
                        symptoms.</p>
                        <p>5-Collect cerebrospinal fluid via a spinal tap or order blood tests to measure the levels of proteins associated with
                        Alzheimer’s and related dementias.</p>
                        <p>6-Perform brain scans, such as CT, MRI, or PET (positron emission tomography), to support an Alzheimer’s diagnosis or to
                        rule out other possible causes for symptoms.</p>
                        <p>7-These tests may be repeated to give doctors information about how the person’s memory and other cognitive functions are
                        changing over time.</p>
                        <p>
                        People with memory and thinking concerns should talk to their doctor to find out whether their symptoms are due to
                        Alzheimer’s or to another cause, such as stroke, tumor, Parkinson’s disease, sleep disturbances, side effects of
                        medication, an infection, or another type of dementia. Some of these conditions may be treatable and, possibly,
                        reversible.</p>
                        <p>
                        If the diagnosis is Alzheimer’s, beginning treatment as early as possible in the disease process may help preserve daily
                        functioning for a while. An early diagnosis also helps families plan for the future. They can take care of financial and
                        legal matters, address potential safety issues, learn about living arrangements, and develop support networks.
                        </p>
                        <p>
                        In addition, an early diagnosis provides people with more opportunities to participate in clinical trials or studies
                        testing possible new treatments for Alzheimer’s.</p>
                </div>
            </div>
        
        </section>
        <section id="services">
            <div class="container ">
                <h1 class="title text-center">How to treat it</h1>
        
                <div class="text-left">
        
                    <p>
                    Alzheimer’s is complex, and it is therefore unlikely that any one drug or other intervention will successfully treat it
                    in all people living with the disease. In ongoing clinical trials, scientists are developing and testing several
                    possible treatment interventions.</p>
                    <p>
                    While there is currently no cure for Alzheimer’s, medications are emerging to treat the progression of the disease by
                    targeting its underlying causes. There are also medications that may temporarily improve or stabilize memory and
                    thinking skills in some people and may help manage certain symptoms and behavioral problems.</p>
                    <p>
                    Additionally, people with Alzheimer’s also may experience sleeplessness, depression, anxiety, agitation, and other
                    behavioral and psychological symptoms. Scientists continue to research why these symptoms occur and are exploring new
                    medications and non-drug strategies to manage them. Research shows that treating these symptoms may make people with
                    Alzheimer’s feel more comfortable and also help their caregivers. Antidepressants, antipsychotics, and anti-anxiety
                    drugs may be helpful for some people with Alzheimer’s, but experts agree that these medicines should be used only after
                    other strategies to promote physical and emotional comfort, such as avoiding stressful situations, have been tried. It’s
                    important to talk with a doctor about what treatment will be most effective in your situation.. </p>
                </div>
            </div>
        
        </section>

    
    <!----------footer----->


    <section id="footer">
        <img src="../static/images/wave2.png" class="footer-img">
        <div class="container">
            <div class="row">

                <div class="col-md-4 footer-box">
                    <p><b>CONTACT US</b></p>
                    <P> POSITION</P>
                    <P>NUMBER 010223456</P>
                    <P>EMAIL</P>


                </div>
                <div class="col-md-4 footer-box ">
                    <p><b>FOLLOW US</b></p>
                    <INput type="email" class="form-control" placeholder="Your Email ">
                    <button type="button" class="btn btn-primary">FOLLOW</button>
                    </INput>


                </div>
            </div>
        </div>
    </section>
    <!--------smooth scrool---------->
    <script src="smooth-scroll.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</body>

</html>